<!DOCTYPE html>
<html>
  <!-- Header partial -->
  <% include partials/head.ejs %>

  <body>
  <!-- Header partial -->
  <% include partials/header.ejs %>
    <main class="displayWeather">
      <h1><%= title %></h1>
      <p> <h3><span>"<%= weatherInfo.currently.summary %>"</span></h3></p>
      <p><h4>Temp:</h4> <span><%= weatherInfo.currently.temperature %>&deg;</span></p>
      <p><h4>Lat:</h4><span><%= Math.floor(weatherInfo.latitude) %>&deg;</span> </p>
      <p><h4>Lng:</h4><span><%= Math.floor(weatherInfo.longitude) %>&deg;</span> </p>
      <p><h4>TimeZone:</h4> <span><%= weatherInfo.timezone %></span> </p>
      <!-- Favorites button -->
      <form action="/favorite" method="POST">
        <!-- grabbing latitude -->
        <input type="hidden" value="<%= weatherInfo.latitude %>" name="latitude" />
        <!-- grabbing longitude -->
        <input type="hidden" value="<%= weatherInfo.longitude %>" name="longitude" />
        <!-- Grabbing query:address or zipCode -->
        <input type="hidden" value="<%= address %>" name="address" />

        <div><input type="submit" class="waves-effect waves-light btn red"  value="Add to favorites" /></div>
      </form>
      <form action="/user">
        <div><input type="submit" class="waves-effect waves-light btn blue"  value="View Favorites" /></div>
      </form>


    </main>


    <% include partials/footer.ejs %>

  </body>
</html>
