<!DOCTYPE html>
<html>
  <!-- Header partial -->
  <% include partials/head.ejs %>

  <body>
  <!-- Header partial -->
  <% include partials/header.ejs %>
    <main>
      <h1><%= title %></h1>
      <p>Temp: <%= weatherInfo.currently.temperature %></p>
      <p>Lat:<%= weatherInfo.latitude %> </p>
      <p>Lng:<%= weatherInfo.longitude %> </p>
      <p>TimeZone: <%= weatherInfo.timezone %> </p>
      <!-- Favorites button -->
      <form action="/favorite" method="POST">
        <!-- grabbing latitude -->
        <input type="hidden" value="<%= weatherInfo.latitude %>" name="latitude" />
        <!-- grabbing longitude -->
        <input type="hidden" value="<%= weatherInfo.longitude %>" name="longitude" />
        <!-- Grabbing query:address or zipCode -->
        <input type="hidden" value="<%= address %>" name="address" />

        <div><input type="submit" class="waves-effect waves-light btn red"  value="Add to favorites" /></div>
      </form>
      <form action="/user">
        <div><input type="submit" class="waves-effect waves-light btn blue"  value="View Favorites" /></div>
      </form>
    </main>


    <% include partials/footer.ejs %>

  </body>
</html>
