<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/id">

    </form>
    <p>Lat:<%= weatherInfo.latitude %> </p>
    <p>Lng:<%= weatherInfo.longitude %> </p>
    <p>TimeZone: <%= weatherInfo.timezone %> </p>
    <footer>
      <div><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></div>
    </footer>
  </body>
</html>
